.header-button {
  display: flex;
  justify-content: space-between;
}

button a {
  color: #0e1238;
  font-size: 20px;
  text-decoration: none;
}

button a:hover{
  color: #f8f3f3;
}

/* заголовок h1 */
.h1-custom {
    color: #0e1238;
    font-family: Arial, sans-serif;
    font-size: 34px;
    font-weight: 600;
    /*text-align: center;*/
}

.modal {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
}


.modal-header {
  display: flex;
  justify-content: space-between;

}


.modal-content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* рамка для текстового поля ввода */
.input-text {
    border: 2px solid #f8ac3a;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 12px 20px;
    box-sizing: border-box;
    width: 68%;
}

/* цвет фона и цвет текста */
.custom-button, .custom-button2, .delete-button {
	border: none;
	background: #f8ac3a;
	color: #0e1238;

	border-radius: 5px;
}

.close-button img {
  height: 15px;
}

.delete-button {
  padding: 5px;
  width: 25px;
  height: 25px;
}


.custom-button {
  margin-bottom: 20px;
  width: 33%;
  height: 35px;
}

.custom-button2 {
  height: 40px;
  width: 30%;
}


/* стиль для table */
table {
  color: #0e1238;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  border-collapse: separate;
}

/* цвет фона, цвет текста, отступы, выравнивание по центру*/
th {
    background-color: #f8ac3a;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
}

/* цвета фона и текста, отступы, выравнивание по центру
Для ячеек с задачами, в работе и выполненными задачами, установите разные стили*/
tr, td {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    border: none;

    border: 2px solid #f8ac3a;
}



.custom-button:hover, .custom-button2:hover, .delete-button:hover {
	background: rgb(128, 130, 139);
	color: #ffffff;
}

/* для checkbox */

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
} 

.real-checkbox:hover + .custom-checkbox {
  background-color: #dcdcdc;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f8f3f3;
  border: 2px solid #000;
  border-radius: 50%;
}

.custom-checkbox::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #f8ac3a;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;

  /* выравнивание по центру */
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scale(0);
  transition: 0.1s ease-in;
}


/* активация декоративного чекбокс */
.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
  

.history-container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 46px;
  
}

.restore-button {
  background-color: #e9c38c;
  border-radius: 5px;
  margin-top: 10px;
  width: 150px;
  height: 20px;
}

.history-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.history-item {
  padding: 5px;
  padding-left: 0px;
  border-radius: 5px;
  color: #787061;
}
